{% extends 'app/base.html' %}
{% block hood %}
{% load static %}
<main>
    <div class="bg-dark">
        {% for item in response %}
        <div class='container my-4'>
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{item.prod_name}}</strong>
                    <h5 class="my-1" style="color:white;">{{item.prod_desc}}</h5>
                    <strong class="d-inline-block mb-2 my-4 text-primary">999</strong>
                    <a href="#" type="button" class="btn btn-outline-primary stretched-link my-4">Buy Now</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="{{item.prod_url}}" class="bd-placeholder-img" width="300" height="350">
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</main>
{% endblock hood %}