{% extends 'app/basecontent.html' %}
{% load static %}

{% block top %}
{% static 'app/images/banner/hoodbn.webp' %}
{% endblock top %}

{% block prodname %} <h4 class=" display-4 fst-italic">Black Rage Hoodie</h4> {% endblock %}
{% block proddesc %}Nothing like some good old rage, and what better way to show it then to really wear 
it on your sleeves? They say kill the rage, we say rep it, celebrate it.{% endblock %}
{% block prodprice %}<h3>RS: 2000</h3>{% endblock %}
{% block img %}{% static 'app/images/banner/hood1.jpg' %}{% endblock %}
{% block buynowlink %} #{% endblock %}